.list {
    width: 100%;
    margin-top: 10px;
  }
      
      .wrapper {
        margin-left: 50px;
        display: flex;
        margin-top: 10px;
        width: max-content;
        transform: translateX(0px);
        transition: all 1s ease;
      }
 