.navbar {
    width: 100%;
    color: white;
    position: fixed;
    top: 0px;
    background: transparent;
    right: 0px;
    overflow: hidden;
    z-index: 999;
}

.left{
    display: flex;
    align-items: center;

}
  
  .left a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .left a:hover {
    background-color: #ddd;
    color: black;
  }
  

.navbar .container .left span{
   margin-right: 20px;
   cursor: pointer;
}

.container{
    display: flex;
    padding: 0px 50px;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.navbar .container .right img{
    height: 25px;
    padding: 0px 10px;
    cursor: pointer;
}

.navbar .container .left img{
    height: 25px;
    margin-right: 40px;
}

.navbar .container span{
    color: white;
    font-size: 20px;
}

.icon{
    margin: 0px 15px;
    cursor: pointer;
}

.navbar .container .right span{
    color: white;
    font-size: 20px;
    padding-right: 20px;
}


