.featured{
    height: 100vh;
    color: white;
    position: relative;
}

.home{
    overflow: hidden;
}


.featured img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured .info{
    width: 35%;
    position: absolute;
    left: 50px;
    bottom: 100px;
    color: white;
    display: flex;
    flex-direction: column;
}

.featured .buttons{
    display: flex;
}

button{
    padding:10px 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;
}

.play{
    background-color: white;
    color: black;
}

.more{
    background-color: grey;
    color: white;
}

.button span{
    margin-left: 5px;
}

.featured .info img{
    width: 400px;
}

.featured .category{
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
}

.featured select{
    cursor: pointer;
    background-color: black;
    border: 1px solid white;
    color: white;
    margin-left: 20px;
    padding: 5px;
}

.trending{
    padding: 100px;
    color: white;
}

.movies{
        background-color: var(--main-color);
        overflow: hidden;
    }
   